<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="{{ Model.ContentItem.Content.LandingPage.Photo.Paths.first | asset_url }}" alt="{{ Model.ContentItem.Content.LandingPage.Name.Text }}">
        <h1 class="text-uppercase mb-0">{{ Model.ContentItem.Content.LandingPage.Name.Text }}</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">{{ Model.ContentItem.Content.LandingPage.Tagline.Text }}</h2>
    </div>
</header>
{% if Model.ContentItem.Content.Portfolio.ContentItems.size > 0 %}
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                {% for project in Model.ContentItem.Content.Portfolio.ContentItems %}
                    <div class="col-md-6 col-lg-4">
                        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-{% increment id %}">
                            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ project.Project.Image.Paths.first | asset_url }}" alt="{{ project.TitlePart.Title }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% if Model.ContentItem.Content.Sections.ContentItems.size > 0 %}
    {% for section in Model.ContentItem.Content.Sections.ContentItems %}
        {{ section.HtmlBodyPart.Html | raw }}
    {% endfor %}
{% endif %}
{% if Model.ContentItem.Content.Portfolio.ContentItems.size > 0 %}
    {% for project in Model.ContentItem.Content.Portfolio.ContentItems %}
        <div class="portfolio-modal mfp-hide" id="portfolio-modal-{% increment modal %}">
            <div class="portfolio-modal-dialog bg-white">
                <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                    <i class="fa fa-3x fa-times"></i>
                </a>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="text-secondary text-uppercase mb-0">{{ project.TitlePart.Title }}</h2>
                            <hr class="star-dark mb-5">
                            <img class="img-fluid mb-5" src="{{ project.Project.Image.Paths.first | asset_url }}" alt="">
                            <p class="mb-5">{{ project.HtmlBodyPart.Html }}</p>
                            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                <i class="fa fa-close"></i>
                                Close Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}